body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    color: $white;
}
.container{
    max-width: 1160px;
}
.text-green{
    color: $green;
}
h1{
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
}
h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $dark-grey;

}
h3{
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    color: $light-grey;
}
h4{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
}
h5{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: $green;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 69px;
    h2{
        margin-bottom: 28px;
    }
}
.hide{
    display: none;
}
header{
    background-color: $bg-header;
    position: absolute;
    width: 100%;
    top: 0;
    .header{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .logo{
            margin-right: auto;
        }
        .nav{
            display: flex;
            li{
                height: 100%;
                margin-right: 21px;
                padding: 46px 0;
               border-bottom: 2px solid transparent;
                a{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: $white-gradient;
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                }
               &:hover{
                    padding: 46px 0;
                   border-bottom: 2px solid $green;
                   a{
                       color: $green;
                   }
               }
            }
        }
        .search{
            cursor: pointer;
        }
    }
}
footer{
    background-color: $bg-footer;
    padding: 48px;
    margin-top: auto;
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}