.btn{
    width: 168px;
    height: 63px;
    border-radius: 5px;
    padding: 0;
    padding-top: 5px;
    border: none;
    color: $white;
    background-color: $white;
    &-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-weight: 700;
            font-size: 14px;
            line-height: 42px;
            display: inline;
            margin-left: 15px;
        }
    }
    &-content{
        font-weight: 700;
        font-size: 15px;
        line-height: 32px;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    &-green{
        background-color: $green;
    }
    &-blue{
        background-color: $blue;
    }
}
