main{
    .home{
        background-image: url(../img/Layer-home.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 8px;
        height: 100vh;
        .text-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            h1{
                margin: 63px 0;
            }
            .row-btn{
                margin-top: 140px;
                .btn{
                    &:last-child{
                        margin-left: 26px;
                    }
                }
            }
            }
    }
    .options{
        display: grid;
        grid-template: 360px / repeat(4, 1fr);
        &-item{
            background-color: $dark-green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: $green;
                display: block;
                margin-top: 47px;
            }
            &-green{
                background-color: $green;
                span{
                    color: $white;
                }
            }
        }

    }
    .services{
        margin-bottom: 91px;
        .tabs{
            display: grid;
            grid-template: 73px / repeat(6, 1fr);
            margin-bottom: 28px;
            .tab{
                    font-size: 15.9859px;
                    line-height: 39px;
                    color: $grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $bg-tab;
                    border: 1.5px solid transparent;
                    cursor: pointer;
                    position: relative;
                &:hover{
                    border: 1.5px solid $green;
                }
            }
            .active{
                background-color: $green !important;
                color: $white;
                &::before{
                    content: url(../img/triangle.svg);
                    position: absolute;
                    bottom: -27px;
                }
            }
            &-content{
                p{
                    font-weight: 300;
                    font-size: 13.645px;
                    line-height: 24px;
                    color: $grey-text;
                    margin-left: 15px;
                }
                &-item{
                    display: none;
                }
                .active{
                    display: flex !important;
                }
            }
        }
    }
    .purchase-now{
        background-image: url(../img/Layer.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 126px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
       p{
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        color: #D8D8D8;
        margin: 13px 0 67px 0;
       }
    }
    .amazing{
        background-color: $bg-grey;
        padding-bottom: 100px;
        &-block{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .menu{
            padding-bottom: 70px;
            display: flex;
            .active{
                color: $green;
                border: 1px solid $green;
            }
            &-item{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 58px;
                padding: 0 15px;
                border: 1px solid $bogder-grey;
                border-right: none;
                background: rgba(0, 0, 0, 0.0001);
                font-weight: 400;
                font-size: 14px;
                line-height: 42px;
                color: $grey;
                cursor: pointer;
            }
        }
        .our-work{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            margin-bottom: 70px;
            &-item{
                height: 211px;
                .img-amazing{
                    height: 100%;
                }
                &:hover{
                    .img-amazing{
                        display: none;
                    }
                    background-color: $bg-grey;
                    border-top: 6px solid $green;
                    .hover{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        text-align: center;
                    }
                }
                .hover{
                    display: none;
                    .row-btn{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 30px;
                        .btn-item{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 43px;
                            height: 43px;
                            border-radius: 100px;
                            background-color: $green;
                            &-outline{
                                background-color: $bg-grey;
                                border: 1px solid $green;
                                margin-right: 3px;
                            }
                        }
                    }
                    span{
                        font-weight: 700;
                        font-size: 14.1771px;
                        line-height: 25px;
                        text-transform: uppercase;
                        color: $green;
                    }
                    p{
                        font-weight: 300;
                        font-size: 12.1518px;
                        line-height: 25px;
                        color: $grey;
                    }
                }
            }
        }
    }
    .breaking-news{
        padding-bottom: 120px;
        .cards{
            display: grid;
            grid-template: repeat(2, 280px) / repeat(4, 1fr);
            gap: 45px 35px;
            &-item{
                text-decoration: none;
                &:hover{
                    .date{
                        background-color: $green !important;
                    }
                    .name{
                        color: $green !important;
                    }
                }
                .img-block{
                    position: relative;
                    .date{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 70px;
                        height: 68px;
                        background-color: $bg-green;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        span{
                            font-size: 16px;
                            line-height: 25px;
                            color: $white;
                        }
                    }
                }
                .text-block{
                    background: $bg-grey;
                    border: 1px solid $bogder-grey;
                    padding: 10px 15px 5px 15px;
                    .name{
                        font-weight: 700;
                        font-size: 17.9885px;
                        line-height: 39px;
                        color: $grey;
                    }
                    ul{
                        display: flex;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li{
                            font-weight: 300;
                            font-size: 13.991px;
                            line-height: 39px;
                            color: $grey-text;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .comments{
        background-image: url(../img/loaut.slider.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 104px;
        .line{
            margin-bottom: 66px;
        }
            h2{
                color: $white;
            }
            .active{
                display: flex;
            }
           &-text{
               flex-direction: column;
               justify-content: center;
               align-items: center;
               display: none;
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                color: $color-text-com;
                margin: 36px 0;
                text-align: center;
            }
            .name{
                font-weight: 700;
                font-size: 16px;
                line-height: 27px;
                color: $green;
                text-transform: uppercase;
            }
            .job-name{
                font-weight: 300;
                font-size: 13px;
                line-height: 27px;
                color: $color-text-com;
            }
           }
            .slider{
                margin-top: 38px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .img-head{
                    img{
                        width: 143px;
                        height: 142px;
                    }
                }
                &-item{
                    display: flex;
                    align-items: center;
                    margin-top: 38px;
                    .active{
                        margin-top: -20px;
                        transition: all 1s ease 0s;
                    }
                    .item-btn{
                        width: 31px;
                        height: 31px;
                        background: rgba(0, 0, 0, 0.0001);
                        border: 1px solid $color-text-com;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:first-child{
                            margin-right: 28px;
                        }
                        &:hover{
                            background-color: $green;
                            border: 1px solid $green;
                        }

                    }
                    .btn-disable{
                        background-color: $grey;
                            &:hover{
                                background-color: $grey !important;
                                border: 1px solid $color-text-com !important;
                            }   
                    }
                    .item-img{
                       margin-right: 28px;
                       position: relative;
                       cursor: pointer;
                       img{
                        width: 59px;
                        height: 59px;
                       }

                    }
                }
               .background{
                background: #1fdab521;
                mix-blend-mode: normal;
                padding: 12px;
                border-radius: 100px;

               } 
               .background-small{
                padding: 6px !important;
               }
            }
    }
}