$white: #FFFFFF;
$white-gradient: rgba(255, 255, 255, 0.6);;
$green: #18CFAB;
$bg-header: rgba(94, 93, 88, 0.6);
$bg-footer: #22353F;
$light-grey: #D4D4D4;
$blue: #00CBF6;
$dark-green: #1C2A33;
$dark-grey: #4E4E4E;
$grey: #717171;
$bg-tab: #F8FCFE;
$grey-text: #777777;
$bg-grey: #E9EDEF;
$bogder-grey: #DADADA;
$bg-green: #203E38;
$color-text-com: #BBBBBB;