@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
}

.container {
  max-width: 1160px;
}

.text-green {
  color: #18CFAB;
}

h1 {
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4E4E4E;
}

h3 {
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  color: #D4D4D4;
}

h4 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
}

h5 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18CFAB;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 69px;
}

.title h2 {
  margin-bottom: 28px;
}

.hide {
  display: none;
}

header {
  background-color: rgba(94, 93, 88, 0.6);
  position: absolute;
  width: 100%;
  top: 0;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header .logo {
  margin-right: auto;
}

header .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header .nav li {
  height: 100%;
  margin-right: 21px;
  padding: 46px 0;
  border-bottom: 2px solid transparent;
}

header .header .nav li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

header .header .nav li:hover {
  padding: 46px 0;
  border-bottom: 2px solid #18CFAB;
}

header .header .nav li:hover a {
  color: #18CFAB;
}

header .header .search {
  cursor: pointer;
}

footer {
  background-color: #22353F;
  padding: 48px;
  margin-top: auto;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home {
  background-image: url(../img/Layer-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 8px;
  height: 100vh;
}

main .home .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main .home .text-content h1 {
  margin: 63px 0;
}

main .home .text-content .row-btn {
  margin-top: 140px;
}

main .home .text-content .row-btn .btn:last-child {
  margin-left: 26px;
}

main .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 360px;
  -ms-grid-columns: (1fr)[4];
      grid-template: 360px/repeat(4, 1fr);
}

main .options-item {
  background-color: #1C2A33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .options-item span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18CFAB;
  display: block;
  margin-top: 47px;
}

main .options-item-green {
  background-color: #18CFAB;
}

main .options-item-green span {
  color: #FFFFFF;
}

main .services {
  margin-bottom: 91px;
}

main .services .tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 73px;
  -ms-grid-columns: (1fr)[6];
      grid-template: 73px/repeat(6, 1fr);
  margin-bottom: 28px;
}

main .services .tabs .tab {
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8FCFE;
  border: 1.5px solid transparent;
  cursor: pointer;
  position: relative;
}

main .services .tabs .tab:hover {
  border: 1.5px solid #18CFAB;
}

main .services .tabs .active {
  background-color: #18CFAB !important;
  color: #FFFFFF;
}

main .services .tabs .active::before {
  content: url(../img/triangle.svg);
  position: absolute;
  bottom: -27px;
}

main .services .tabs-content p {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  margin-left: 15px;
}

main .services .tabs-content-item {
  display: none;
}

main .services .tabs-content .active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

main .purchase-now {
  background-image: url(../img/Layer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 126px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .purchase-now p {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  margin: 13px 0 67px 0;
}

main .amazing {
  background-color: #E9EDEF;
  padding-bottom: 100px;
}

main .amazing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .amazing .menu {
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .amazing .menu .active {
  color: #18CFAB;
  border: 1px solid #18CFAB;
}

main .amazing .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  padding: 0 15px;
  border: 1px solid #DADADA;
  border-right: none;
  background: rgba(0, 0, 0, 0.0001);
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  cursor: pointer;
}

main .amazing .our-work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-bottom: 70px;
}

main .amazing .our-work-item {
  height: 211px;
}

main .amazing .our-work-item .img-amazing {
  height: 100%;
}

main .amazing .our-work-item:hover {
  background-color: #E9EDEF;
  border-top: 6px solid #18CFAB;
}

main .amazing .our-work-item:hover .img-amazing {
  display: none;
}

main .amazing .our-work-item:hover .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

main .amazing .our-work-item .hover {
  display: none;
}

main .amazing .our-work-item .hover .row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

main .amazing .our-work-item .hover .row-btn .btn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 100px;
  background-color: #18CFAB;
}

main .amazing .our-work-item .hover .row-btn .btn-item-outline {
  background-color: #E9EDEF;
  border: 1px solid #18CFAB;
  margin-right: 3px;
}

main .amazing .our-work-item .hover span {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18CFAB;
}

main .amazing .our-work-item .hover p {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #717171;
}

main .breaking-news {
  padding-bottom: 120px;
}

main .breaking-news .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (280px)[2];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(2, 280px)/repeat(4, 1fr);
  gap: 45px 35px;
}

main .breaking-news .cards-item {
  text-decoration: none;
}

main .breaking-news .cards-item:hover .date {
  background-color: #18CFAB !important;
}

main .breaking-news .cards-item:hover .name {
  color: #18CFAB !important;
}

main .breaking-news .cards-item .img-block {
  position: relative;
}

main .breaking-news .cards-item .img-block .date {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background-color: #203E38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .breaking-news .cards-item .img-block .date span {
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

main .breaking-news .cards-item .text-block {
  background: #E9EDEF;
  border: 1px solid #DADADA;
  padding: 10px 15px 5px 15px;
}

main .breaking-news .cards-item .text-block .name {
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
}

main .breaking-news .cards-item .text-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

main .breaking-news .cards-item .text-block ul li {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
  margin-right: 10px;
}

main .comments {
  background-image: url(../img/loaut.slider.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 104px;
}

main .comments .line {
  margin-bottom: 66px;
}

main .comments h2 {
  color: #FFFFFF;
}

main .comments .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .comments-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

main .comments-text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #BBBBBB;
  margin: 36px 0;
  text-align: center;
}

main .comments-text .name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18CFAB;
  text-transform: uppercase;
}

main .comments-text .job-name {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #BBBBBB;
}

main .comments .slider {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .comments .slider .img-head img {
  width: 143px;
  height: 142px;
}

main .comments .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
}

main .comments .slider-item .active {
  margin-top: -20px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

main .comments .slider-item .item-btn {
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #BBBBBB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main .comments .slider-item .item-btn:first-child {
  margin-right: 28px;
}

main .comments .slider-item .item-btn:hover {
  background-color: #18CFAB;
  border: 1px solid #18CFAB;
}

main .comments .slider-item .btn-disable {
  background-color: #717171;
}

main .comments .slider-item .btn-disable:hover {
  background-color: #717171 !important;
  border: 1px solid #BBBBBB !important;
}

main .comments .slider-item .item-img {
  margin-right: 28px;
  position: relative;
  cursor: pointer;
}

main .comments .slider-item .item-img img {
  width: 59px;
  height: 59px;
}

main .comments .slider .background {
  background: #1fdab521;
  mix-blend-mode: normal;
  padding: 12px;
  border-radius: 100px;
}

main .comments .slider .background-small {
  padding: 6px !important;
}

.btn {
  width: 168px;
  height: 63px;
  border-radius: 5px;
  padding: 0;
  padding-top: 5px;
  border: none;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-flex span {
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  display: inline;
  margin-left: 15px;
}

.btn-content {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-green {
  background-color: #18CFAB;
}

.btn-blue {
  background-color: #00CBF6;
}
/*# sourceMappingURL=bootstart.css.map */